.main{
    background-color: rgb(170, 221, 255);
    text-align: center;
    width: auto;
    height: auto;
    vertical-align: center;
}
.lista{
    background-color: rgb(207, 207, 207);
    text-align: center;
    width: auto;
    height: 500px;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.column1 {
float: left;
width: 22.5%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;

}
.column2 {
float: left;
width: 60%;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}
.column3 {
float: left;
width: 30%;
margin:1.1111%;
}
.paper{
    float:left;
    width:2.5%;
    margin:2.5%;
    background-color: rgb(207, 207, 207);
    text-decoration:none;
}

.row:after {
content: "";
display: table;
clear: both;
}
.division{
    background-color: white;
    margin:auto;
}
img{
    margin:5%;
    width: 85%;
    height: 85%;
    border-radius: 10%;
}
button{
    width: 90%;
    padding: 5%;
    margin: 5%;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    background-color: rgb(255, 174, 0);
}
h1{
    color:rgb(0, 0, 0);
}

table{
    margin: 5%;
    width: 90%;

}

th{
    width: auto;
    background-color: rgb(153, 153, 153);
    border: 5px solid black;
    padding: 10px;
}

td{
    border: 3px solid black;
    background-color: rgb(216, 216, 216);
    padding: 15px;
}

.td2{
    border: 3px solid black;
    background-color: rgb(216, 216, 216);
    padding: 15px;
}

.td1{
    border: 3px solid black;
    background-color: rgb(216, 216, 216);
    padding: 15px;
    width: 15%;
}

.td2:hover{
    background: white;
    color: white;
}

body{
    background-color: black;
}
hr{
    border: 2px solid blueviolet;
    background-color: blue;
}