<%- include("template/header", {tituloWeb:'Pagina Web'}) %>

<body>
  

    <%- include("template/sidebar")%>

    
    <div class="margen"></div>
    <div class="main2">
        
        <div style="width: 100%; float: left;">
            <iframe src="https://youtube.com/embed/7-YAxlC9SaU" frameborder="0" width="100%" height="50%"></iframe>
        </div>
        <div style="width:100%; float: left; text-align: center;">
            <hr><h2>Proyecto 3</h2><hr>
        </div>
        <div class="main2" style="text-align: justify; padding-right: 5%; margin-top: 0;" >
            <p>Despliegue una aplicación WEB en HEROKU
                que incorpore un catalogo de productos para la
                venta con una opción para consultar el estado
                del inventario y gestionar la compra de nuevos
                insumos para el almacen.
            Se implementa un Navbar con la propiedad Sticky para que siga el scroll de la página web. Así mismo se implementa la misma lógica que los anteriores proyectos, 
            de modo que el inventario se actualiza automáticamente cada vez que un <a href="/nuevo_producto">nuevo producto</a> es añadido o modificado.<br>
            El <a href="/catalogo">catálogo</a> muestra los productos con su precio y la cantidad restante, cuando esta cantidad se vuelve 0 la página detecta
            que el producto se ha agotado. <br>
            El <a href="/inventario">inventario</a> nos muestra un formulario con todos los nombres, precios y unidades de cada producto, para comprar más productos 
            hay que aumentar su cantidad en "Unidades" de modo que al ingresar la nueva información e ir de nuevo al <a href="/catalogo">catálogo</a> se actualiza la
            información.
                <br><br>
            <b>Integrantes:</b><br><li>Omar Andrés Díaz Peláez: <small>20211373018</small></li> <br><li>Juan Diego Benavidez Castellanos: <small>20211373023</small></li>
            </p>
        </div>

    

    </div>
    <div class="margen"></div>
      

  

</body>


</html>