<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<style>
.box{
    width: 50vw;
    height: 50vw;
    margin-top: 1vw;
    background-color: blue;
}

</style>

<body>
    <script>
        var Estado ='<%- Estado -%>';
        document.getElementById("Caja").value=Estado;
    </script>
<form action="/" method="post" id="Envio">
    <input type="hidden" id="Caja" name="Caja" value="1">
</form>

<div style="width: 50vw;">
    <button style="width: 45%; margin-left: 5%;" onclick="Rojo()">Rojo</button>
    <button style="width: 45%;" onclick="Azul()">Azul</button>
</div>

<div class="box" id="box"></div>


</body>

<script>
    if (Estado==1){document.getElementById("box").style.backgroundColor='red';}
    if (Estado==2){document.getElementById("box").style.backgroundColor="blue";}

    function Rojo(){
        document.getElementById("Caja").value = "1";
        document.getElementById("Envio").submit();
    }
    function Azul(){
        document.getElementById("Caja").value = "2";
        document.getElementById("Envio").submit();
    }
    setTimeout(function () { location.reload(true); }, 1000);
</script>
</html>